<!doctype html>
<html lang="en" ng-app="phonecatApp" ng-controller="PhoneListCtrl"> 
<!-- Put ng-controller here and not on body because we want to access it in the head -->
<head>
  <meta charset="utf-8">
  <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title> 
  <!-- so that {{query}} does not show to user while page is loading -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body>
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-2">
	      <!--Sidebar content-->

	      Search: <input ng-model="query">
	      Sort by:
				<select ng-model="orderProp">
				  <option value="name">Alphabetical</option>
				  <option value="age">Newest</option>
				  <!-- <option value="-age">Oldest</option> --> <!-- Sorts by oldest (reverse age) -->
				</select>

	    </div>
	    <div class="col-md-10">
	      <!--Body content-->
	      Results for {{query}}
				<ul class="phones">
				  <li ng-repeat="phone in phones | filter:query | orderBy:orderProp">
				    {{phone.name}}
				    <p>
				      {{phone.snippet}}
				    </p>
				  </li>
				</ul>
			  <p>Total number of phones: {{phones.length}}</p>
			</div>
  	</div>
	</div>
<!-- 
  <table>
	  <tr><th colspan="8">row number</th></tr>
	  <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
	  	<td ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">{{i + 1}}</td>
	 	</tr>
	</table> -->

</body>
</html>
